* {
    padding:0; 
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}  

.title-container{
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    padding-top: 10px;

}
.title h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.logo {
    width: 95px;
    height: 95px;
    left: 48.5px;
    position: absolute;
}
/* @media screen and (max-width: 768px) {
    .logo {
        width: 10%; 
        max-width: 95px; 
        left: 5%; }
} */

.nav-content{
    display: flex;
   justify-content: end;
}



/*menu*/

.menu-bar{
    text-align: center;
    z-index: 2;
    padding-top: 15px;
}
.menu-bar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    color: black;
    gap: 15px;
}
.menu-bar ul li{
    width: auto;
    padding: 5px;
}
.menu-bar ul li:hover{
    background-color:whitesmoke; 
    border-radius: 3px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.sub-menu-1 {
    display: none; /* Hide the dropdown menu by default */
    background-color: white;
  }
  
  .menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-left: -10px; /* Show the dropdown menu when its parent <li> is hovered over */
  }
  

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 70px;
    padding: 5px;
    border-bottom: 1px solid black;
    background: transparent;
    border-radius: 0;
    text-align: left;
     
}
.menu-bar ul li:hover .sub-menu-1 ul li a {
    font-size: 12px;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: lightgrey; 
}
ul {
    margin-top: 0;
    margin-bottom: 0;
}


/*carousel*/
.home-carousel .owl-theme .owl-controls .owl-page.active span {
    background: #38a7bb !important;
  }
  .home-carousel .owl-theme .owl-controls .owl-page:hover span {
    background: #38a7bb !important;
   } 
.home-carousel {
    z-index: 0;
}
.home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .home-carousel .owl-carousel {
    padding-top: 0;
    padding-bottom: 5px;
  }

.col-sm-7 .img-responsive {
    display: block;
    width: 100%;
    height: 500px;
}

.col-sm-7{
    width: 100%;
}
 



  /*features*/
.fellowship-title{
    margin-bottom: 40px;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px

}
.article-title {
    margin-bottom: -19px;
    font-weight: 500;
    font-size: 18px;
    margin-top: -15px;
    
}
.news-title{
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px
}
.resources-title{
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
}
  .bar {
    position: relative;
    background: var(--primary-accent);
    padding:  0;
  }
  .box-simple h3 {
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.5;
    color: black;
    font-weight: 500;
    letter-spacing: 0.08em;
}
.box-simple p {
    color: black;
    font-weight: 400;
}
h3{
    margin: 10px 0;
}

/*recent news*/
.bar.background-pentagon {
    background: transparent;
    border-top: none;
    border-bottom: none;
  }
  p.lead {
    margin-bottom: 10px;
  }

  .testimonials {
    padding: 0;
    margin-bottom: 30px;
  }
.col-md-12{
    padding-right:0;
    padding-left:0;
}

  .testimonials .item .testimonial {
    position: relative;
    padding: 0;
  
  }
  .testimonials .item {
    list-style-type: none;
    background: #fff;
    padding-bottom: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 29px;
    
  }
  .box-image-text {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 50px 0;
}


  /* RECENT RESOURCES */
  
  .recent-container{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;    
  }

  .recent-content a img {
    width: 30% ;
    height: 80px;
    border-radius: 5px;
}
.recent-content a  p{
    padding: 18px;
    color: black;
    font-size:15px; 
}
.recent-content a{
    display: flex;
   text-decoration:none;
}

/* footer */
footer{
    background: #333;
  padding: 10px 0;
  font-size: 12px;
  line-height: 28px;
  margin-top: 50px;

}
.footerLinks  li a{
    color:#959595;
    text-decoration: none;
    display: inline;
    font: 12px "Open Sans",sans-serif;
    padding: 2px 0px;
 
}


.footerLinks  li a:hover {
    color: rgb(202, 202, 202);
}


.footerLinks{
    display: flex;
    justify-content: center;
    list-style-type:none;
}
.footerLinks li span{
    color:#959595;
    padding-right: 4px;  
}

.socials{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin-right:30px;
    gap: 10px;
}
.socials li a, .footerLinks li span{
    color:#959595;
   
}
.socials  li a:hover {
    color: rgb(202, 202, 202);
}
.bxl-facebook, .bxl-instagram, .bxl-youtube{
   font-size: 17px;
}
.bxs-music{
    font-size: 15px;
}
.fa-rss{
    font-size: 14px;
}

