<footer>
    <ul class="socials">
        {{ range .Site.Params.footer.socials }}
        <li>
            <a href="{{ .url }}" target="_blank"><i class='{{ .iconClass }}'></i></a>
        </li>
        {{ end }}
    </ul>

    <ul class="footerLinks">
        {{ range .Site.Params.footer.footerLinks }}
        <li>
            <a href="{{ .url }}" target="_blank">{{ .linkName }}</a>
            {{ if ne (index .Site.Params.footer.footerLinks (sub (len $.Site.Params.footer.footerLinks) 1)).linkName .linkName }}<span>|</span>{{ end }}
        </li>
        {{ end }}
    </ul>
</footer>