<footer>
    <ul class="socials">
        {{ range .Site.Params.footer.socials }}
        <li>
            <a href="{{ .url }}" target="_blank"><i class="{{ .iconClass }}"></i></a>
        </li>
        {{ end }}
    </ul>

    <ul class="footerLinks">
        {{ $footerLinks := .Site.Params.footer.footerLinks }}
        {{ $lastIndex := sub (len $footerLinks) 1 }}
        {{ range $index, $element := $footerLinks }}
        <li>
            <a href="{{ $element.url }}" target="_blank">{{ $element.linkName }}</a>
            {{ if ne $index $lastIndex }}<span>|</span>{{ end }}
        </li>
        {{ end }}
    </ul>
</footer>
