<header> 
    <div class="header">
        <div class="container">
            {{ with .Site.Params.logo }}
                <div class="title-container">
                    <a href="{{ .url }}">
                        <img class="logo" src="{{ .logoImg }}" alt="Your Logo">
                    </a>
                    <div class="title">
                        <h1>PASTORS & MINISTERS FELLOWSHIP INTERNATIONAL<br></h1>
                        <h1>(A MINISTRY OF ALL PEOPLES CHURCH)</h1>
                    </div>
                </div>
            {{ end }}
            <div class="nav-content">
                {{ partial "nav.html" . }}
            </div>
        </div>
    </div>
</header>
