<div class="menu-bar">
  <ul>
    <li><a href="#">ABOUT US</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 1</a></li>
          <li><a href="#">OPTION 2</a></li>
          <li><a href="#">OPTION 3</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">OUR FELLOWSHIP</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 4</a></li>
          <li><a href="#">OPTION 5</a></li>
          <li><a href="#">OPTION 6</a></li>
        </ul>
        </div>
    </li>
    <li><a href="#">RESOURCES</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 7</a></li>
          <li><a href="#">OPTION 8</a></li>
          <li><a href="#">OPTION 9</a></li>
        </ul>
        </div>
    </li>
    <li><a href="#">EVENTS</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 10</a></li>
          <li><a href="#">OPTION 11</a></li>
          <li><a href="#">OPTION 12</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">BLOG</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 13</a></li>
          <li><a href="#">OPTION 14</a></li>
          <li><a href="#">OPTION 15</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">JOIN</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 16</a></li>
          <li><a href="#">OPTION 17</a></li>
          <li><a href="#">OPTION 18</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">CONTACT US</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">OPTION 19</a></li>
          <li><a href="#">OPTION 20</a></li>
          <li><a href="#">OPTION 21</a></li>
        </ul>
        
      </div>
    </li>
  </ul>
</div>