<section class="recent-resources">
    <div class="container">
        <div class="row">
            
   
    <div class="col-md-12">
        <h2 class="resources-title">RECENT RESOURCES</h2>
        <div class="recent-container">
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">SERMON: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">BOOK: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">MUSIC: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">SERMON: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">BOOK: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">MUSIC: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">SERMON: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">BOOK: The triumph of the Cross</p>
                </a>
            </div>
            <div class="recent-content">
                <a href="#">
                    <img src="img/recentresources.jpg">
                    <p class="description">MUSIC: The triumph of the Cross</p>
                </a>
            </div>
        </div>
    </div>
</section>
</div>
</div>