{{ if and (isset .Site.Params "recent_resources") (isset .Site.Params.recent_resources "resources") (gt (len .Site.Params.recent_resources.resources) 0) }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="col-md-12">
            <h2 class="resources-title">RECENT RESOURCES</h2>
            <p class="lead">{{ .Site.Params.recent_resources.subtitle | markdownify }}</p>

            <div class="recent-container">
                {{ range .Site.Params.recent_resources.resources }}
                <div class="recent-content">
                    <a href="{{ .link }}" class="resource-link">
                        <img src="{{ .image }}" alt="{{ .title }}" class="resource-image">
                        <p class="description">{{ .type }}: {{ .title }}</p>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
